@import "syntax-variables";

atom-text-editor, atom-text-editor {
  background-color: #14171A;
  color: #A9BACB;

  .wrap-guide {
    background-color: #2C343B;
  }

  .indent-guide {
    color: #2C343B;
  }

  .invisible-character {
    color: #2C343B;
  }

  .gutter {
    background-color: #181D20;
    color: #5F7387;

    .line-number {
      &.cursor-line {
        background-color: #2C343B;
        color: #5F7387;
      }

      &.cursor-line-no-selection {
        color: #5F7387;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: #555;
  }

  .invisible {
    color: #A9BACB;
  }

  .cursor {
    color: #FFF;
  }

  .selection .region {
    background-color: #2C343B;
  }
}

atom-text-editor .search-results .syntax--marker .region,
atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: 1px solid #5F7387;
}

atom-text-editor .search-results .syntax--marker.current-result .region,
atom-text-editor .search-results .syntax--marker.current-result .region {
  border: 1px solid #FFF;
}

.syntax--comment {
  color: #777;
}

.syntax--keyword {
  color: #D99B28;

  &.syntax--control {
    color: #D99B28;
  }

  &.syntax--operator {
    color: #A9BACB;

    &.syntax--delete, &.syntax--new, &.syntax--typeof, &.syntax--void, &.syntax--this, &.syntax--in {
      color: #D99B28;
    }
  }

  &.syntax--other.syntax--special-method {
    color: #46AFE3;
  }

  &.syntax--other.syntax--unit {
    color: #70BF53;
  }
}

.syntax--storage {
  color: #D99B28;
}

.syntax--constant {
  color: #EB5368;

  &.syntax--character.syntax--escape {
    color: #D96629;
  }

  &.syntax--numeric {
    color: #70BF53;
  }

  &.syntax--other.syntax--color {
    color: #EB5368;
  }

  &.syntax--other.syntax--symbol {
    color: red;
  }
}

.syntax--variable {
  color: #46AFE3;

  &.syntax--interpolation {
    color: darken(#46AFE3, 10%);
  }

  &.syntax--parameter.syntax--function {
    color: #46AFE3;
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.syntax--string {
  color: #D96629;

  &.syntax--punctuation.syntax--definition.syntax--string {
    color: #D96629;
  }

  &.syntax--regexp {
    color: #D96629;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @orange;
    }
  }

  &.syntax--other.syntax--link {
    color: @red;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: #777;
    }

    &.syntax--tag {
      color:#DF80FF;
    }

    &.syntax--string,
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: #A9BACB;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @blue;
    }

    &.syntax--bold {
      color: @light-orange;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: darken(@red, 10%);
  }

}

.syntax--support {
  &.syntax--constant {
    color:#46AFE3
  }

  &.syntax--property-value {
    color:#EB535C
  }

  &.syntax--class {
    color: #46AFE3;
  }

  &.syntax--function  {
    color: #46AFE3;

    &.syntax--any-method {
      color: @blue;
    }
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: #46AFE3;
  }

  &.syntax--name.syntax--type {
    color: #46AFE3;
  }

  &.syntax--other.syntax--inherited-class {
    color: @green;
  }
  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @light-orange;
  }

  &.syntax--name.syntax--section {
    color: @blue;
  }

  &.syntax--name.syntax--tag {
    color: #DF80FF;
  }

  &.syntax--other.syntax--attribute-name {
    color: #46AFE3;

    &.syntax--id {
      color: #DF80FF;

      &.syntax--html {
        color:#46AFE3
      }
    }
  }
}

.syntax--meta {

  &.syntax--class {
    color: @light-orange;
  }

  &.syntax--link {
    color: @orange;
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: #46AFE3;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @orange;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @purple;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--italic {
    color: @purple;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: @orange;
  }

  &.syntax--raw.syntax--inline {
    color: @green;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: @green;
  }
}

atom-text-editor[mini] .scroll-view,
atom-text-editor([mini]) .scroll-view {
  padding-left: 1px;
}
